{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>Création d'un article</h1>
{{form_start(formArticle)}}
{{form_row(formArticle.title, {'attr':{'placeholder' : "Titre de l'article"},'label':'Titre'})}}
{{form_row(formArticle.content, {'attr':{'placeholder' : "Contenu del'article"},'label':'Contenu'})}}
{{form_row(formArticle.image, {'attr':{'placeholder' : "URL del'image"}})}}
<button type="submit">Ajouter</button>
{{form_end(formArticle)}}
{% endblock %}