{% extends 'base.html.twig' %}
{% block title %}Un article{% endblock %}
{% block body %}
<article>
<h2>{{article.title}}</h2>
<div class="metadata">rédigé le {{article.createAt | date('d/m/Y')}}
à {{article.createAt | date('H:i')}}</div>
<div class="content">
<img src="{{article.image}}" alt="image">
{{article.content | raw}}
</div>
</article>
{% endblock %}